<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792443365439-saqk36asp3ldbbn43l3r5fb24bglvqih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792443365439-saqk36asp3ldbbn43l3r5fb24bglvqih</string>
	<key>API_KEY</key>
	<string>AIzaSyBxi_-lAMKjQRmsscDzKMRhRdO-9F86w60</string>
	<key>GCM_SENDER_ID</key>
	<string>792443365439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carLeaseDapp</string>
	<key>PROJECT_ID</key>
	<string>carlease-dapp</string>
	<key>STORAGE_BUCKET</key>
	<string>carlease-dapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792443365439:ios:21b5cb5253a10d4bc6b08a</string>
</dict>
</plist>